.index-page {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 500px;
    background-image: url("../img/index-bg-mobile.jpg");
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &__header {
    margin-bottom: 90px; 
  }

  &__about-us {
    margin-bottom: 30px;
  }

}

@media (min-width: $tablet-width) { 
  .index-page {
    &::before {
      background-image: url("../img/index-bg-desktop.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .index-page {

    &::before {
      height: 924px;
    }

    &__header {
      margin-bottom: 274px;
    }

    &__about-us {
      margin-bottom: 60px;
    }
  }
}