.slider {
  margin-left: -16px;
  margin-right: -16px;
  position: relative;
  padding-bottom: 30px;

  &.slick-slider.slick-dotted {
    margin-bottom: 0;
  }

  &__item {
    margin: 0 15px;
    min-height: 240px;
    padding: 0 31px;
    padding-top: 31px;
    padding-bottom: 20px;
    background-color: #2C464F;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(62, 62, 101, 0.13);
    border-radius: 5px;
    color: white;
    font-weight: normal;
  }

  &__item-img {
    margin: 0 auto;
    margin-bottom: 16px;
    display: block;
  }

  &__item-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    padding-bottom: 19px;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      width: 38px;
      height: 2px;
      position: absolute;
      background-color: $highlight-color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item-text {
    font-family: $additional-font-family;
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 145.19%;
  }

  .slick-dots {
    bottom: 0;

    li button::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #2C464F;
      border-radius: 50%;
      opacity: .1;
      top: auto;
      bottom: 0;
    }

    li.slick-active button::before {
      opacity: 1;
    }
  }
}


@media (min-width: $tablet-width) {
  .slider {
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 0;

    &__item {
      width: 32%;
      max-width: 288px;
      margin: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    justify-content: space-between;

    &__item {
      max-width: 370px;
      padding-top: 43px;
      padding-left: 55px;
      padding-right: 55px;
    }

    &__item-img {
      margin-bottom: 35px;
    }

    &__item-title {
      font-size: 25px;
      line-height: 130.5%;
      padding-bottom: 12px;
      margin-bottom: 10px;
    }
  
    &__item-text {
      font-size: 15px;
      line-height: 145.19%;
    }
  }
}